<h1>Add ingredients:</h1>

<%= simple_form_for [@cocktail, @dose] do |f| %>
<!-- /cocktails/:cocktail_id/doses -->
  <%= f.error_notification %>
  <%= f.input :ingredient_id, collection: Ingredient.all %>
  <%= f.input :description %>
  <%= f.submit  "Edit an ingredient", class: "btn btn-primary" %>
<% end %>
